
##
# NGOS - The Next Generation multicopter OS
# Copyright (C) 2007 - 2013 by the UAVP-NG Project,
#     Amir Guindehi <amir@datacore.ch>
#     Stefan Agner <stefan@dev.uavp.ch>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# You can find our website at <http://ng.uavp.ch>.
#
# Many people helped and are helping developing NGOS. Please
# have a look at <http://ng.uavp.ch/moin/Authors> for details.
##

# Connect to connected openocd instance

telnet_port 4444

reset_config srst_only srst_nogate

################
# Flash Script #
################

proc flash_it {IMGFILE LASTSECTOR} {
targets
targets fc.cpu
targets
reset halt
flash write_image erase $IMGFILE
reset
shutdown
}
